<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">
                    OpenPlanetary started as an idea among the <a href="https://issues.cosmos.esa.int/psawiki/display/GISWS/Participants">
                    participants</a> of the <a href="https://issues.cosmos.esa.int/psawiki/display/GISWS/ESAC+Planetary+GIS+Workshop+2015+Wiki">2015 ESAC Planetary GIS Workshop</a>.
                    <br>The objectives and discussions of the community, so far, include:
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Community Building</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                    ... to discuss and implement coordinated online solutions for
                                    the planetary science and mapping communities to share knowledge,
                                    resources, code, tools and services.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Use Cases</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                    ... for planetary scientists to discuss existing and new scientific
                                    use cases, both single- and cross-disciplinary.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Planetary Mapping</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                    ... for planetary geoscientists and cartographers to
                                    discuss and share tools, techniques and resources,
                                    including GIS.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Tutorials & Hacks</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                    ... a place to share and discuss small technical issues, the hacks
                                    that might solve them and, if need, request, organise and coordinate
                                    longer webinar/tutorials by community experts.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/5.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Tool Demos</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                    ... to discuss, and organise online demos and surveys of,
                                    existing end developping tools and services used by planetary
                                    scientists.
                                    </p>
                                </div>
                            </div>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>