<div id="#join-community" class="row contribute">
  <div class="container">
    <h3>BECOME A MEMBER</h3>
    <p class="text-muted">Anyone can contribute to our effort of building this community. Whether you want to write blog posts, get help or participate to discussions in Slack, or contribute to existing or new projects on GitHub, <i>it all starts in Slack</i>. Fill in this form and we'll send you an invite to join our Slack team and become an OpenPlanetary member.</p>
    <a class="btn btn-join" href="https://openplanetary.typeform.com/to/QREyIA">Join the community</a>
  </div>
</div>
