<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Join the Community</h2>
                <h3 class="section-subheading text-muted">Fill in this form and we'll send you an invite to Slack.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <a class="typeform-share btn btn-xl" href="https://openplanetary.typeform.com/to/QREyIA" data-mode="1" target="_blank">
                Join
                </a>
                <script>
                (function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}id=id+'_';if(!gi.call(d,id)){qs=ce.call(d,'link');qs.rel='stylesheet';qs.id=id;qs.href=b+'share-button.css';s=gt.call(d,'head')[0];s.appendChild(qs,s)}})()
                </script>
            </div>
        </div>
    </div>
</section>

