---
layout: page
title: "About"
description: "Who we are and what we do"
header-img: "img/op-people-bg.jpg"
image: /img/op-webintent.png
---



<h2>Our Mission</h2>
<p><i>OpenPlanetary</i> is a bottom-up initiative and effort to address the need of the planetary science community for sharing ideas and collaborating on common planetary research and data analysis problems, new challenges, and opportunities.</p>

<p>Our main objective is to build and sustain a <b>community</b> around an online distrubuted <b>framework</b> enabling open collaborations.<p>


<h2>Our Community</h2>
<p>With 200+ members, the <i>OpenPlanetary</i> community is made of and intended for research and education professionals: scientists, engineers, designers, teachers and students, as well as space enthusiasts and citizen scientists.</p>

<p>It started back in 2015 from an initial participants effort to stay connected and share information related to and beyond the <a href="https://issues.cosmos.esa.int/psawiki/display/GISWS/ESAC+Planetary+GIS+Workshop+2015+Wiki" target="_blank">
  ESA’s first Planetary GIS Workshop</a>. It then continued during the <a href="http://astrogeology.usgs.gov/groups/Planetary-Data-Workshop" target="_blank">
  2nd USGS Planetary Data Workshop</a>, and aggregated more people.</p>

<p>We are a small group of volonteers behind <i>OpenPlanetary</i> pushing forward the initiative:</p>

<div class="row">
  {% for member in site.data.members %}
  {% if  member[1].membership == 'admin' %}
  <div class="col-sm-4">
      <div class="team-member">
          <img src="{{ site.baseurl }}/img/team/{{ member[1].pic }}" class="img-circle">
          <h4>{{ member[1].name }}</h4>
          <p class="text-muted small">{{ member[1].position }}</p>
          <ul class="list-inline social-buttons">
              {% if  member[1].slack %}
                <li><a href="https://openplanetary.slack.com/messages/@{{ member[1].slack }}" target="_blank"><i class="fa fa-slack"></i></a></li>
              {% endif %}
              {% if  member[1].twitter %}
                <li><a href="https://twitter.com/{{ member[1].twitter }}" target="_blank"><i class="fa fa-twitter"></i></a></li>
              {% endif %}
              {% if  member[1].github %}
                <li><a href="https://twitter.com/{{ member[1].github }}" target="_blank"><i class="fa fa-github"></i></a></li>
              {% endif %}
              {% if  member[1].web %}
                <li><a href="{{ member[1].web }}" target="_blank"><i class="fa fa-globe"></i></a></li>
              {% endif %}
              {% if  member[1].email %}
                <li><a href="mailto:{{ email }}"><i class="fa fa-envelope"></i></a></li>
              {% endif %}
          </ul>
      </div>
  </div>
  {% endif %}
  {% endfor %}
</div>


<div style="text-align: center;">
  <a href="mailto:{{ site.email_username }}" class="btn btn-default" style="display: inline-block; margin-bottom: 2em;">Get in touch</a>
</div>

<h2>Our Framework</h2>

<p>What we call the <i>framework</i> is what we use to stay connected, share, discuss, and collaborate on common community-driven projects.
  Our approach is to connect and administrate existing free or low-cost cloud-based solutions, services and open-source tools</p>

<p>Our current framework is essentially focused on communication and collaboration, using respectively
<a href="{{ site.baseurl }}/slack"><b>Slack</b></a> and <a href="{{ site.baseurl }}/github"><b>GitHub</b></a>.
We reach out to the planetary science community and the general public, through our website, <a href="{{ site.baseurl }}/blog"><b>Blog</b></a>, and
<a href="https://twitter.com/openplanetary" target="_blank"><b>Twitter</b></a>.</p>

<p>Other framework components exist, binding things together and helping us to administrate and operate OpenPlanetary.
We are also exploring ideas to leverage existing online communities, like for example with the use of a <code>#planetary</code> tag on
<a href="http://stackexchange.com/" target="_blank">StackExchange</a>.</p>
