---
layout: page
title: Blog
description: "News, updates, articles and tips from the OpenPlanetary members and guests"
permalink: /blog/tags/
---
{% comment%}
Here we generate all the tags.
{% endcomment%}

{% assign rawtags = "" %}
{% for post in site.posts %}
{% assign ttags = post.tags | join:'|' | append:'|' %}
{% assign rawtags = rawtags | append:ttags %}
{% endfor %}

{% assign rawtags = rawtags | split:'|' | sort %}

{% assign tags = "" %}

{% for tag in rawtags %}
{% if tag != "" %}

{% if tags == "" %}
{% assign tags = tag | split:'|' %}
{% endif %}

{% unless tags contains tag %}
{% assign tags = tags | join:'|' | append:'|' | append:tag | split:'|' %}
{% endunless %}
{% endif %}
{% endfor %}

<ul class="nav nav-tabs">
  <li role="presentation"><a href="{{ site.baseurl }}/blog">Latest</a></li>
  <li role="presentation"><a href="#">Featured</a></li>
  <li role="presentation"><a href="{{ site.baseurl }}/blog/categories">By categories</a></li>
  <li role="presentation" class="active"><a href="#">By tags</a></li>
</ul>

<div class="posts">
<div class="tag-list">
{% for tag in tags %}
<a href="#{{ tag | slugify }}" class="post-tag"><i class="fa fa-tag" aria-hidden="true"></i> {{ tag }} </a>
{% endfor %}
</div>

{% for tag in tags %}
<h2 id="{{ tag | slugify }}">{{ tag }}</h2>
<ul>
  {% for post in site.posts %}
  {% if post.tags contains tag %}
  <li>
    <span>
      <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      <small class="text_muted">{{ post.date | date_to_string }}</small>
      {% for tag in post.tags %}
      <a class="post-small-tag" href="{{ site.baseurl }}/blog/tags#{{ tag | slugify }}"><i class="fa fa-tag" aria-hidden="true"></i> {{ tag }}</a>
      {% endfor %}
    </span>
  </li>
  {% endif %}
  {% endfor %}
</ul>
<hr>
{% endfor %}

</div>
